body{
  font-family:sans-serif;
  background-color: #fff;
}
.item-list{
  
  display: grid;
  grid-template-rows: repeat(2, 1fr);
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1px;

}
.item{
  width: 48%;
  margin:2px;
  border-radius: 8px;
  padding:px;
  
}
.i-img{
  
 
  width: 100%;
  max-height: 100%;
  border: solid #eee 2px;
 
}
.imgs{
  width:100%px;
  height: 130px;
  
  border: solid #eee 2px;
border-radius: 4px;
padding: 0px;
}
.item-name{
  font-size: 12px;
  padding-left: 6px;
  border-radius:8px;
  margin-bottom: 1px;
}
.size{
  font-size: 12px;
  padding-left: 6px;
  margin:0px;
  color:#777;
}
.price{
  font-size: 14px;
  padding-left: 6px;
  font-weight: bold;
  margin-top: 1px;
}