body{
         --bg-color: var(--tg-theme-bg-color);
         background-color: var(--bg-color);
            color: var(--tg-theme-text-color);
            color-scheme: var(--tg-color-scheme);
    }
    .product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2p auto;
  width: 100%;
}

.product-item {
  width: 100%;
  margin: 10px 0;
  border-radius:30px;
background-color: var(--tg-theme-secondary-bg-color, #efefef);
        
}

.product-info {
  padding: 10px;
  background-color: #fff;
  
  transition: all 0.2s ease-in-out;
}




.product-info h3 {
  font-size: 20px;
  font-weight: bold;
  margin:0;
  padding:2px;
}

.price {
  font-size: 16px;
  font-weight:bold;
}
.size{
  font-size:14px;
  font-weight:200px;
  color:#777;
  
}

.product-info button {
  background-color: #77777;
  color: #000;
  font-weight:bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  marginleft:16px;
  marginright:16px;
  width:100%;
  border-radius:4px;
  
}
.product-item img{
  width:300px;
  height:300px;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  border-radius: 4px;
}


 #count-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 30px;
  height:wrap-content;
  width:wrap-content;
}
 
  .count-badge-hidden {
  display: none;
}

